<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= RESTAURANT.name %></title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <h3>Mains</h3>
    <% RESTAURANT.menu.forEach((dish, index)=>{ if(dish.category ==='mains') {
    %>
    <div style="border: 1px dashed black">
      <h4 display="inline"><%= dish.name %></h4>
      <span>(<%= dish.rating %> star(s))</span> -
      <span>Price: <%= dish.price %></span><br />
      <%= dish.details %>
    </div>
    <% } }) %>
    <br /><br />
    <h3>Desserts</h3>
    <% RESTAURANT.menu.forEach((dish, index)=>{ if(dish.category ==='desserts')
    { %>
    <div style="border: 1px dashed black">
      <h4 display="inline"><%= dish.name %></h4>
      <span>(<%= dish.rating %> star(s))</span> -
      <span>Price: <%= dish.price %></span><br />
      <%= dish.details %>
    </div>
    <% } }) %>
    <br /><br />
    <h3>Sides</h3>
    <% RESTAURANT.menu.forEach((dish, index)=>{ if(dish.category ==='sides') {
    %>
    <div style="border: 1px dashed black">
      <h4 display="inline"><%= dish.name %></h4>
      <span>(<%= dish.rating %> star(s))</span> -
      <span>Price: <%= dish.price %></span><br />
      <%= dish.details %>
    </div>
    <% } }) %>
  </body>
</html>
